.reports-container {
  background: #fafafa;
  border-radius: 60px;
  padding: 60px;

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: normal;
    margin-right: 180px;
  }

  .tagline {
    width: 300px;
    margin: auto;
    text-align: center;
  }

}

.report-top-block {
  display: flex;
  align-content: space-between;
  gap: 20px;
  align-items: center;
}

.report-col-left {
  flex: 60%;
}

.report-col-right {
  flex: 40%;
}

.box1 {
  background-color: #ffffff;
  border-radius: 30px;
  border: solid 1px #ccc;
  box-shadow: 0 20px 20px -10px rgba(0,0,0,0.25);
  padding: 50px;
}

.box2 {
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
  padding: 50px;
}

.report-middle-block {
  display: flex;
  align-content: space-between;
  gap: 20px;
}

.report-bottom-block {
  display: flex;
  max-width: 60%;
  align-items: end;
  margin: 50px auto;

  p {
    font-size: 16px;
    margin-left: 20px;
  }

  .upto {
    font-size: 20px;
    margin-right: 8px;
  }

  .number {
    font-size: 100px;
    line-height: 80px;
  }
}