.reports-container {
  background: #fafafa;
  border-radius: 60px;
  padding: 60px;
  display: flex;
  flex-direction: column;

  .tagline {
    width: 300px;
    margin: auto;
    text-align: center;
  }
}
.report-inner-container {
  background-color: #fff;
  display: flex;
  border-radius: 30px;
  border: solid 1px #ccc;
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.25);
  padding: 30px 0px 0px 30px;
}
.report-top-block {
  display: flex;
  align-content: space-between;
  gap: 20px;
  align-items: center;
}

.report-col-left {
  flex: 60%;
}

.report-col-right {
  flex: 40%;
}


.box2 {
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
  padding: 34px;
}
.statistics-details {
  display: flex;
}
.trans-details{
  display: flex;
  justify-content: center;
}
.graph-info-image-container {
  height: 261px;
  border-radius: 25px;
}
.profile-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px #2f2a2a;
  background-color: #131111;
  padding: 16px;
  border-radius: 12px;
  margin: 16px 4px;
  p {
    color: #bdbfc5;
    font-size: 8px;
    margin: -9px 0 0 -12px
  }
}
.sale-details{
  padding: 20px;
  border-radius: 12px;
  margin:0px 5px; 
  background-color: #f6f6f6;
}
.report-middle-block {
  display: flex;
  align-content: space-between;
  gap: 20px;
}

.report-bottom-block {
  display: flex;
  max-width: 60%;
  align-items: end;
  margin: 50px auto;

  p {
    font-size: 16px;
    margin-left: 20px;
  }

  .upto {
    font-size: 20px;
    margin-right: 8px;
  }

  .number {
    font-size: 100px;
    line-height: 80px;
  }
}
.percentage-info-container {
  display: flex;
  justify-content: center;
  font-size: 8px;
  color: #32de84;
  margin-left: 42px;
}
.percentage-image {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #32de84;
  padding: 4px;
}
.setting-btn {
  background-color: #ffd027;
  border: none;
  border-radius: 12px;
  padding: 10px 12px;
  margin-bottom: 50px;
}
.one-platform {
  color: #bdbfc5;
  padding: 20px 0px 30px 0px;
  width: 72%;
}
.statistics-container{

  width: 100%;

}
.repo-heading{
 text-align: center;
 padding-top: 20px;
}
.repo-text{
text-align: center;
font-size: 14px;
color: #bdbfc5;;
padding-top: 20px;
}
.statistic-container {
  font-size: 42px;
  span {
    font-size: 12px;
    margin-left: 6px;
  }
}

.reports-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 8px;
}
.reports-image1,
.reports-image2,
.reports-image3 {
  width: 32px;
  height: 32px;
}
.reports-image1 {
  margin-left: 12px;
  margin-top: -6px;
  margin-bottom: 7px;
}
.reports-image3 {
  margin-left: -4px;
}