.contact-container {
  background: #000000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1px 48px;

  .top-container,
  .mid-container,
  .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    margin-bottom: 40px;
  }

  .top-container {
    padding: 100px 0 50px;
    border-bottom: solid 1px rgba(255,255,255,0.25);
  }
  .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
  }
  .header-links a {
    color: rgb(187, 175, 175);
    text-decoration: none;
  }
  .email {
    font-size: 50px;
    font-weight: 200;
  }
  .address-container {
    display: flex;
    justify-content: space-between;
    // width: 30%
    gap: 60px;
  }
  .address {
    // max-width: 120px;
    line-height: 18px;
  }
  .social-contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    a {
      color: white;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 10px;
    }
  }
  .scan-code {
    width: 60px;
  height: 60px;
  border-radius: 12px;
  padding: 24px;
  background-color: white;
  }
  h{
    font-size: 14px;
    font-weight: 200;
    color: white;
  }
  h1{
    font-size: 100px;
    font-weight: 600;
    color: white;
    span{
      font-size: 64px;
      font-weight: 300;
      margin-bottom: 2px;
      margin-left: 2px;
    }
  }
  p {
    font-size: 10px;
    color:#bbb
  }
}

.bottom-container {
  margin-bottom: 36px;
}
.bottom-container sup {
  margin-left: -26px;
  font-size: 42px;
}