.navbar-container {
    width: 1260px;
    max-width: 100%;
    margin: auto;
}
.top-nav {
    margin: 6px 12px 0 12px;
    background-color: #030303;
    border-radius: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0
}

.navbar-logo a,
.navbar-links a,
.navbar-signup a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.navbar-logo a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 2px;
}

.logo-icon {
    width: 16px;
    height: 16px;
    transform: rotate(135deg);
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #383535;
    flex-grow: 0;
    height: 45px;
    border-radius: 12px;
    padding: 0 12px;
    gap: 30px;
}

.navbar-links a {
    font-size: 12px;
    padding: 0 15px;
}

.navbar-signup a {
    font-size: 14px;
    background-color: #ffffff;
    padding: 16px 24px;
    border-radius: 15px;
    color: #000000;
    margin-right: 6px;
}

.navbar-signup a:hover {
    color: black;
}