.dashboard-container {
  padding: 40px 24px;
  font-size: 120px;
  color: #000000;
  padding: 80px 0 150px;
}

.top-block {
  display: flex;
}

.image-container {
  display: inline-flex;
  align-items: center;
  margin: 0 20px;
}

.image1,
.image2,
.image5 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 32px;
}

.image1 {
  background-color: lightgray;
  margin-left: 80px;
}

.image2 {
  background-color: #ff4122;
  margin-left: -25px;
}

.text-block {
  display: flex;
  align-items: center;
}

.text-block-2 {
  display: flex;
  align-items: center;
  justify-content: end;
}

.text-block span {
  color: #cccccc;
  margin: 0 20px;
}

.image-container1 {
  position: relative;
  width: 380px;
  margin-left: auto;
  top: 20px;
}


.image4 {
  width: 100%;
  border-radius: 20px;
}

.image3 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 14px;
  position: absolute;
  left: -18px;
  background-color: #ff4122;
  top: -20px;
}

.image5 {
  background-color: #ffd800;
}