* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: "Noto Sans Elymaic", sans-serif;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

section {
  background: #ffffff;
}

.footer {
  background: #000000;
}

.buttons-container {
  display: felx;
  justify-content: center;
}
.demo-button,
.start-button {
  max-width: 160px;
  padding: 12px 34px;
  border: none;
  border-radius: 12px;
  font-size: 12px;
}
.demo-button {
  background-color: #eceaea;
  color: #000000;
}
.start-button {
  background-color: #ff4122;
  color: #ffffff;
  margin-left: 8px;
}

