.documents-container {
  padding: 80px 0 150px;

  h1 {
    padding: 40px 24px;
    font-size: 120px;
    color: #000000;
    font-weight: normal;

    span {
      color: #cccccc;
    }
  }
}

.documents-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container11 {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.image11 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 32px;
  background-color: lightgray;
  margin-left: 80px;
  position: relative;
  z-index: 10 ;
}

.image12 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 25px;
  text-align: center;
  background-color: #ffd800;
  margin-left: -25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;

  span {
    font-size: 12px;
    font-weight: normal;
  }
}

.image13 {
  background-color: #ffd800;
  font-size: 60px;
  padding: 20px 0;
  border-radius: 30px;
}

.documents-content {
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.documents-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.documents-bottom-content {
  max-width: 60%;
}
